@import 'variables';
@import '~https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

html,
body {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

h2,
h3 {
    color: $reperio-blue !important;
}

.app-main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.#{$namespace}-app-content {
  padding: 10px;
}

.contentContainer {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.#{$namespace}-bar {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.#{$namespace}-bar-container {
    max-height: 15px;
}

.#{$namespace}-bar-animated-container {
    max-height: 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.#{$namespace}-bar-animated-inner-container {
    display: block;
    width: 200%;
    position: absolute;
    animation: slide 3s linear infinite;
}

.#{$namespace}-bar-animated-span {
    float: left;
    width: 50%;
}

.#{$namespace}-animated-bar {
    background: url('../assets/reperio-color-band.png') repeat-x;
    image-rendering: pixelated;
    background-size: 100% 100%;
    max-height: 15px;
    display: block;
}

@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.page-container {
    background-color: $reperio-content-background;
    flex: 1 0 0px;
}

.#{$namespace}-nav-menu {
    flex: 0 0 60px;
}

.#{$namespace}-menu-container {
    display: flex;
    flex-direction: column;
}

.nav-menu-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030
}

.navbar {
    border: 0px;
    display: flex;
    margin-bottom: 0px;
    background-color: $reperio-navbar-background;
}

.navbar-nav {
    li {
        a {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    .active>a {
        background-color: transparent !important;
        border-bottom: 2px solid $reperio-red;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.#{$namespace}-nav-links {
  height: 50px;
}

.navbar-brand {
    padding: 12px;
}

.container {
    width: 100%;
    padding-left: 27px;
}

.redux-form {
    max-width: 280px;
}

.dropdown-menu {
    background-color: $reperio-navbar-background;
    height: auto;
    margin: 0px;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    border: 5px solid transparent;
    border-image:url("../assets/reperio-color-band.png") 5 stretch;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.dropdown-menu {
    .divider {
        margin: 5px 0px 5px 0px;
        background-color: $reperio-placeholder-gray;
    }
}

.black-label {
    background-color: $black-label;
}

.label {
    line-height: 30px;
}

hr {
    border-width: 2px;
    border-color: $reperio-blue;
    margin-top: -5px;
    margin-bottom: 25px;
}

.#{$namespace}-applications {
    cursor: pointer;
}

.#{$namespace}-applications-container {
    &.btn-default {
        background: none;
        border:none;
    }
}

.#{$namespace}-applications-container-content > div:hover { 
    background-color: $reperio-placeholder-gray;
}

.#{$namespace}-applications-squares {
    display:flex;
    flex-wrap: wrap;
    width: 36px;
}

.#{$namespace}-applications-square {
    width: 12px;
    height: 12px;
    background-color: $reperio-blue;
    border-color: $reperio-blue;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    transition: background 0.25s ease-in;
}

.#{$namespace}-applications-top-left-square {
    background-color: transparent;
}

.#{$namespace}-applications-container-content {
    display:flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 450px;
    transition: visibility 0.5s;
    padding: 0;
    min-height: 100px;
}

div &.open &.#{$namespace}-applications-container > .#{$namespace}-applications > .#{$namespace}-applications-squares > .#{$namespace}-applications-square {
    background: transparent;
    transition: background 0.25s ease-out;
}

.#{$namespace}-applications-container-content > div {
    width:150px;
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    background-color: #e3e3e3;
}

.nav {
    display: flex;
}

.#{$namespace}-menu-left-container {
    width: 50%;
    display: flex !important;
}

.#{$namespace}-menu-right-container {
    width: 50%;
    display: flex !important;
}

.#{$namespace}-menu-left-container-nav-items {
    list-style: none;

    & > li {
        display: inline-block;
        padding:10px;
    }
}

.#{$namespace}-profile {
    cursor: pointer;
}

.#{$namespace}-profile-container {
    &.btn-default {
        background: none;
        border:none;
    }
}

#profileInfo {
    text-align: right;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important;
}

.#{$namespace}-profile-menu {
    position: relative;
}

.#{$namespace}-profile-content {
    text-align: right;
}

.#{$namespace}-profile-initials {
    border-radius: 50%;
    height: 36px;
    max-height: 36px;
    width: 36px;
    max-width: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    background-color: #3A73A8;
    color: white;
    font: bold;
    font-family: 'Nunito Sans';
    font-size: 1.15em;
}